.tm-bg-color-1 {
    background-color: #80C8F0;
}
p, span, h1, h2, h3, h4, h5, h6 {
    color: #545454;
}
.tm-bg-color-5 {
    background-color: #FFEDA1;
}

.tm-nav-item.current .tm-nav-link, .tm-btn, .tm-nav-link:hover {
    background-color: #8ee895;
}

figure.effect-bubba {
    background: #80C8F0!important;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
}
.blocker {
    z-index: 999999!important;
}

.main-logo {
    height: 100px;
    width: auto;
    margin: 20px;
}

.title-wrap {
    display: flex;
    flex-wrap: wrap;
}
